body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:424px;
  width:1091px;
  height:145px;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:114px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:41px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:0px;
  width:247px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u2295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:47px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:143px;
  height:46px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:40px;
  width:114px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:110px;
  word-wrap:break-word;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:47px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:40px;
  width:107px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:103px;
  word-wrap:break-word;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:40px;
  width:101px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:40px;
  width:101px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
#u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:47px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:40px;
  width:273px;
  height:46px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:47px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:40px;
  width:247px;
  height:46px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:243px;
  word-wrap:break-word;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:143px;
  height:54px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:86px;
  width:114px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:110px;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:86px;
  width:107px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:103px;
  word-wrap:break-word;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:86px;
  width:101px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:86px;
  width:101px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:55px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:86px;
  width:273px;
  height:54px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:269px;
  word-wrap:break-word;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:55px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:86px;
  width:247px;
  height:54px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:243px;
  word-wrap:break-word;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:255px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:269px;
  width:381px;
  height:254px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:284px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:58px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:255px;
  width:29px;
  height:57px;
  font-size:48px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:328px;
  width:155px;
  height:16px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:363px;
  width:127px;
  height:16px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:660px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:201px;
  height:660px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:81px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:0px;
  width:1165px;
  height:81px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:34px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1366px;
  height:34px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:38px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:83px;
  width:1167px;
  height:37px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:657px;
  width:51px;
  height:16px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:638px;
  width:108px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2344_ann {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:634px;
  width:1px;
  height:1px;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:139px;
  width:35px;
  height:25px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:332px;
  width:115px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:479px;
  width:97px;
  height:16px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:527px;
  width:97px;
  height:16px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:478px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2356_ann {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:474px;
  width:1px;
  height:1px;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:51px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:564px;
  width:1077px;
  height:50px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1073px;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:575px;
  width:44px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:578px;
  width:20px;
  height:20px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:435px;
  width:97px;
  height:16px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:76px;
  width:1161px;
  height:527px;
  overflow:hidden;
  visibility:hidden;
}
#u2365_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:527px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2365_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:530px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:529px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:150px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:149px;
  width:323px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:319px;
  word-wrap:break-word;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:17px;
  width:15px;
  height:17px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:245px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:194px;
  width:423px;
  height:244px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:209px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:244px;
  width:337px;
  height:109px;
}
#u2377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:378px;
  width:140px;
  height:40px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:378px;
  width:140px;
  height:40px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:194px;
  width:20px;
  height:22px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:526px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2384_ann {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:522px;
  width:1px;
  height:1px;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u2385_ann {
  border-width:0px;
  position:absolute;
  left:856px;
  top:118px;
  width:1px;
  height:1px;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:314px;
  width:32px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2387_ann {
  border-width:0px;
  position:absolute;
  left:129px;
  top:310px;
  width:1px;
  height:1px;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:207px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:284px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:282px;
  width:181px;
  height:32px;
}
#u2393_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2393_input:disabled {
  color:grayText;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:282px;
  width:193px;
  height:32px;
}
#u2394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2394_input:disabled {
  color:grayText;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:207px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:202px;
  width:193px;
  height:32px;
}
#u2397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2397_input:disabled {
  color:grayText;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:204px;
  width:176px;
  height:29px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:288px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
