body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6697 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:424px;
  width:1091px;
  height:145px;
}
#u6698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u6698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:139px;
  word-wrap:break-word;
}
#u6700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:41px;
}
#u6700 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:114px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6701 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u6702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
}
#u6702 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:0px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u6704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u6704 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u6706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:41px;
}
#u6706 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u6708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:41px;
}
#u6708 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:0px;
  width:273px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
#u6710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:41px;
}
#u6710 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:0px;
  width:247px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u6711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:243px;
  word-wrap:break-word;
}
#u6712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:47px;
}
#u6712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:143px;
  height:46px;
}
#u6713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:47px;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:40px;
  width:114px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:110px;
  word-wrap:break-word;
}
#u6716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:47px;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:40px;
  width:107px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:103px;
  word-wrap:break-word;
}
#u6718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:40px;
  width:101px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
#u6720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:47px;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:40px;
  width:101px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:97px;
  word-wrap:break-word;
}
#u6722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:47px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:40px;
  width:273px;
  height:46px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:269px;
  word-wrap:break-word;
}
#u6724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:47px;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:40px;
  width:247px;
  height:46px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:243px;
  word-wrap:break-word;
}
#u6726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:55px;
}
#u6726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:143px;
  height:54px;
}
#u6727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:55px;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:86px;
  width:114px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:110px;
  word-wrap:break-word;
}
#u6730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
}
#u6730 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:86px;
  width:107px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:103px;
  word-wrap:break-word;
}
#u6732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u6732 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:86px;
  width:101px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u6734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:55px;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:86px;
  width:101px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:97px;
  word-wrap:break-word;
}
#u6736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:55px;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:86px;
  width:273px;
  height:54px;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:269px;
  word-wrap:break-word;
}
#u6738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:55px;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:86px;
  width:247px;
  height:54px;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:243px;
  word-wrap:break-word;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:255px;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:269px;
  width:381px;
  height:254px;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:284px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:58px;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:255px;
  width:29px;
  height:57px;
  font-size:48px;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u6747 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:328px;
  width:155px;
  height:16px;
}
#u6748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u6749 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:363px;
  width:127px;
  height:16px;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:660px;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:201px;
  height:660px;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:81px;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:0px;
  width:1165px;
  height:81px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:34px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1366px;
  height:34px;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:38px;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:83px;
  width:1167px;
  height:37px;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:657px;
  width:51px;
  height:16px;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:638px;
  width:108px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u6761_ann {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:634px;
  width:1px;
  height:1px;
}
#u6763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u6765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:139px;
  width:35px;
  height:25px;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:332px;
  width:115px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:479px;
  width:97px;
  height:16px;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6769_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:527px;
  width:97px;
  height:16px;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6771_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:478px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6773_ann {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:474px;
  width:1px;
  height:1px;
}
#u6774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:51px;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:564px;
  width:1077px;
  height:50px;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1073px;
  word-wrap:break-word;
}
#u6776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:575px;
  width:44px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u6778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:578px;
  width:20px;
  height:20px;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:435px;
  width:97px;
  height:16px;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:76px;
  width:1161px;
  height:527px;
  overflow:hidden;
  visibility:hidden;
}
#u6782_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:527px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6782_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:530px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:529px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:150px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:149px;
  width:323px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:319px;
  word-wrap:break-word;
}
#u6787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:17px;
  width:15px;
  height:17px;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:245px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:194px;
  width:423px;
  height:244px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:209px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:244px;
  width:337px;
  height:109px;
}
#u6794_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:378px;
  width:140px;
  height:40px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:378px;
  width:140px;
  height:40px;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u6799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:194px;
  width:20px;
  height:22px;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:526px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6801_ann {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:522px;
  width:1px;
  height:1px;
}
#u6802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u6802_ann {
  border-width:0px;
  position:absolute;
  left:856px;
  top:118px;
  width:1px;
  height:1px;
}
#u6804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:314px;
  width:32px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6804_ann {
  border-width:0px;
  position:absolute;
  left:129px;
  top:310px;
  width:1px;
  height:1px;
}
#u6806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:207px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:284px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:282px;
  width:181px;
  height:32px;
}
#u6810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u6810_input:disabled {
  color:grayText;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:282px;
  width:193px;
  height:32px;
}
#u6811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u6811_input:disabled {
  color:grayText;
}
#u6812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:207px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:202px;
  width:193px;
  height:32px;
}
#u6814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u6814_input:disabled {
  color:grayText;
}
#u6815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:204px;
  width:176px;
  height:29px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:288px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
