body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:35px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1216px;
  width:1366px;
  height:35px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:603px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:191px;
  height:603px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1175px;
  height:77px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:1175px;
  height:77px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:647px;
  width:84px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u630_ann {
  border-width:0px;
  position:absolute;
  left:683px;
  top:643px;
  width:1px;
  height:1px;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:98px;
  width:17px;
  height:22px;
  color:#666666;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:97px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:357px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:680px;
  width:191px;
  height:357px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:357px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:860px;
  width:191px;
  height:357px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:170px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:296px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:294px;
  width:181px;
  height:32px;
}
#u642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u642_input:disabled {
  color:grayText;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:294px;
  width:193px;
  height:32px;
}
#u643_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u643_input:disabled {
  color:grayText;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:222px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:219px;
  width:382px;
  height:29px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:300px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
