body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:191px;
  height:396px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:301px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:680px;
  width:208px;
  height:301px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:454px;
  width:191px;
  height:396px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:121px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:169px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#28A9D4;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:583px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:579px;
  width:197px;
  height:29px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:581px;
  width:109px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:579px;
  width:142px;
  height:29px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u2294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:586px;
  width:74px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:411px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:23px;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:411px;
  width:55px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:414px;
  width:17px;
  height:17px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:23px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:444px;
  width:814px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  white-space:nowrap;
}
#u2304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:446px;
  width:17px;
  height:17px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:446px;
  width:17px;
  height:17px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:446px;
  width:17px;
  height:17px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:446px;
  width:17px;
  height:17px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:446px;
  width:17px;
  height:17px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:446px;
  width:17px;
  height:17px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:446px;
  width:17px;
  height:17px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:446px;
  width:17px;
  height:17px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:446px;
  width:17px;
  height:17px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:446px;
  width:17px;
  height:17px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:23px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:474px;
  width:814px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  white-space:nowrap;
}
#u2326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:476px;
  width:17px;
  height:17px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:476px;
  width:17px;
  height:17px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:476px;
  width:17px;
  height:17px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:476px;
  width:17px;
  height:17px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:476px;
  width:17px;
  height:17px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:476px;
  width:17px;
  height:17px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:476px;
  width:17px;
  height:17px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:476px;
  width:17px;
  height:17px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:476px;
  width:17px;
  height:17px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:476px;
  width:17px;
  height:17px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:815px;
  height:23px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:505px;
  width:814px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  white-space:nowrap;
}
#u2348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:507px;
  width:17px;
  height:17px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:507px;
  width:17px;
  height:17px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:507px;
  width:17px;
  height:17px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:507px;
  width:17px;
  height:17px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:507px;
  width:17px;
  height:17px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:507px;
  width:17px;
  height:17px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:507px;
  width:17px;
  height:17px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:507px;
  width:17px;
  height:17px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:507px;
  width:17px;
  height:17px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:507px;
  width:17px;
  height:17px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:714px;
  width:116px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u2370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:360px;
  width:37px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:360px;
  width:37px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:356px;
  width:91px;
  height:29px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:361px;
  width:19px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:360px;
  width:59px;
  height:25px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:41px;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:351px;
  width:64px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:362px;
  width:17px;
  height:17px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:363px;
  width:17px;
  height:17px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:358px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:640px;
  width:133px;
  height:32px;
}
#u2388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2388_input:disabled {
  color:grayText;
}
#u2388_ann {
  border-width:0px;
  position:absolute;
  left:459px;
  top:636px;
  width:1px;
  height:1px;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:30px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:714px;
  width:409px;
  height:29px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:752px;
  width:116px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:923px;
  height:198px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:753px;
  width:922px;
  height:197px;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:41px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:704px;
  width:110px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:106px;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:968px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:922px;
  height:246px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:968px;
  width:922px;
  height:246px;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:115px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:712px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:760px;
  width:57px;
  height:17px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:98px;
  width:17px;
  height:22px;
  color:#666666;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:97px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:611px;
  width:26px;
  height:20px;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:584px;
  width:129px;
  height:17px;
  color:#999999;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:719px;
  width:129px;
  height:17px;
  color:#999999;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:583px;
  width:201px;
  height:25px;
}
#u2415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:23px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:645px;
  width:74px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:2px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:566px;
  width:1162px;
  height:1px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:1253px;
  width:84px;
  height:40px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u2420_ann {
  border-width:0px;
  position:absolute;
  left:817px;
  top:1249px;
  width:1px;
  height:1px;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:231px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:229px;
  width:181px;
  height:32px;
}
#u2424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2424_input:disabled {
  color:grayText;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:228px;
  width:193px;
  height:32px;
}
#u2425_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2425_input:disabled {
  color:grayText;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:172px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:30px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:169px;
  width:382px;
  height:29px;
  color:#CCCCCC;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:378px;
  word-wrap:break-word;
}
#u2430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:234px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:233px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:231px;
  width:181px;
  height:32px;
}
#u2434_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2434_input:disabled {
  color:grayText;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:282px;
  width:193px;
  height:32px;
}
#u2435_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2435_input:disabled {
  color:grayText;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:287px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
