body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:191px;
  height:396px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:51px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:500px;
  width:1117px;
  height:50px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1113px;
  word-wrap:break-word;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:514px;
  width:44px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:516px;
  width:20px;
  height:20px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:301px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:680px;
  width:208px;
  height:301px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:35px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:1366px;
  height:35px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:473px;
  width:191px;
  height:396px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:121px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:161px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#28A9D4;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:206px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:38px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:78px;
  width:1218px;
  height:37px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:139px;
  width:35px;
  height:25px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:326px;
  width:1096px;
  height:145px;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u2650_ann {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:1px;
  height:1px;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:0px;
  width:113px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:41px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:0px;
  width:209px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:119px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:115px;
  word-wrap:break-word;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:47px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:40px;
  width:112px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:108px;
  word-wrap:break-word;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:47px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:40px;
  width:105px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:47px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:40px;
  width:105px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:40px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:40px;
  width:164px;
  height:46px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:40px;
  width:113px;
  height:46px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:109px;
  word-wrap:break-word;
}
#u2676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:47px;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:40px;
  width:209px;
  height:46px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:205px;
  word-wrap:break-word;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:119px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:86px;
  width:112px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:108px;
  word-wrap:break-word;
}
#u2682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:86px;
  width:105px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:101px;
  word-wrap:break-word;
}
#u2684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:86px;
  width:105px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:101px;
  word-wrap:break-word;
}
#u2686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:86px;
  width:164px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:160px;
  word-wrap:break-word;
}
#u2688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:86px;
  width:164px;
  height:54px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:160px;
  word-wrap:break-word;
}
#u2690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:86px;
  width:113px;
  height:54px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:109px;
  word-wrap:break-word;
}
#u2692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:86px;
  width:209px;
  height:54px;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:205px;
  word-wrap:break-word;
}
#u2694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u2696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:290px;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:214px;
  width:423px;
  height:289px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2698 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:228px;
  width:29px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2700 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:304px;
  width:337px;
  height:109px;
}
#u2700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u2701 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:442px;
  width:132px;
  height:31px;
}
#u2702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2703 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:193px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2705 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:185px;
  width:193px;
  height:32px;
}
#u2705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2705_input:disabled {
  color:grayText;
}
#u2706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u2706 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:254px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2708 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:193px;
  width:148px;
  height:32px;
}
#u2708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2708_input:disabled {
  color:grayText;
}
#u2709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2709 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:190px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2711 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:188px;
  width:181px;
  height:32px;
}
#u2711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2711_input:disabled {
  color:grayText;
}
#u2712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2712 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:190px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2714 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:262px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:30px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:259px;
  width:316px;
  height:29px;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:372px;
  width:43px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:214px;
  width:20px;
  height:22px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:268px;
  width:100px;
  height:16px;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2721_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:268px;
  width:100px;
  height:16px;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2723_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:384px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u2725_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u2725_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:125px;
  height:8px;
}
#u2725_seg2 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-29px;
  width:8px;
  height:33px;
}
#u2725_seg3 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-29px;
  width:57px;
  height:8px;
}
#u2725_seg4 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-35px;
  width:20px;
  height:20px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:372px;
  width:43px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:428px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:617px;
  width:504px;
  height:427px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:910px;
  width:120px;
  height:34px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:910px;
  width:122px;
  height:34px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:1584px;
  top:666px;
  width:121px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:719px;
  width:100px;
  height:16px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2736_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:767px;
  width:100px;
  height:16px;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2738_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:819px;
  width:169px;
  height:16px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u2740_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:1633px;
  top:473px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u2742_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:131px;
}
#u2742_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:123px;
  width:48px;
  height:8px;
}
#u2742_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:123px;
  width:8px;
  height:21px;
}
#u2742_seg3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:129px;
  width:20px;
  height:20px;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:254px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:322px;
  width:36px;
  height:167px;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:55px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:54px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:55px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:31px;
  height:54px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:55px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:31px;
  height:54px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:342px;
  width:100px;
  height:16px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2754_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:395px;
  width:100px;
  height:16px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2756_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:450px;
  width:100px;
  height:16px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:277px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u2760_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:136px;
  height:8px;
}
#u2760_seg1 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-4px;
  width:8px;
  height:90px;
}
#u2760_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:78px;
  width:58px;
  height:8px;
}
#u2760_seg3 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:72px;
  width:20px;
  height:20px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
