body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:191px;
  height:396px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:0px;
  width:1219px;
  height:77px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1118px;
  height:51px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:500px;
  width:1117px;
  height:50px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1113px;
  word-wrap:break-word;
}
#u2547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:514px;
  width:44px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:516px;
  width:20px;
  height:20px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:301px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:680px;
  width:208px;
  height:301px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:35px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:1366px;
  height:35px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:396px;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:473px;
  width:191px;
  height:396px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:190px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:121px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:161px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#28A9D4;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:206px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1219px;
  height:38px;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:78px;
  width:1218px;
  height:37px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:139px;
  width:35px;
  height:25px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:326px;
  width:1096px;
  height:145px;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:112px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u2574_ann {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:1px;
  height:1px;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:160px;
  word-wrap:break-word;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:0px;
  width:113px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:41px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:0px;
  width:209px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:47px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:119px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:115px;
  word-wrap:break-word;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:47px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:40px;
  width:112px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:108px;
  word-wrap:break-word;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:47px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:40px;
  width:105px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:47px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:40px;
  width:105px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:101px;
  word-wrap:break-word;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:40px;
  width:164px;
  height:46px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:40px;
  width:164px;
  height:46px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:160px;
  word-wrap:break-word;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:40px;
  width:113px;
  height:46px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:109px;
  word-wrap:break-word;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:47px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:40px;
  width:209px;
  height:46px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:205px;
  word-wrap:break-word;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:119px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:115px;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:86px;
  width:112px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:108px;
  word-wrap:break-word;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:86px;
  width:105px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:101px;
  word-wrap:break-word;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:55px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:86px;
  width:105px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:101px;
  word-wrap:break-word;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:86px;
  width:164px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:160px;
  word-wrap:break-word;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:55px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:86px;
  width:164px;
  height:54px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:160px;
  word-wrap:break-word;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:86px;
  width:113px;
  height:54px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:109px;
  word-wrap:break-word;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:55px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:86px;
  width:209px;
  height:54px;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:205px;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:290px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:214px;
  width:423px;
  height:289px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:1618px;
  top:228px;
  width:29px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:1464px;
  top:304px;
  width:337px;
  height:109px;
}
#u2624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:1567px;
  top:442px;
  width:132px;
  height:31px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:193px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:185px;
  width:193px;
  height:32px;
}
#u2629_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2629_input:disabled {
  color:grayText;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:243px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:193px;
  width:148px;
  height:32px;
}
#u2632_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2632_input:disabled {
  color:grayText;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:190px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:188px;
  width:181px;
  height:32px;
}
#u2635_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2635_input:disabled {
  color:grayText;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:190px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:262px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:30px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:259px;
  width:316px;
  height:29px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:372px;
  width:43px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:1824px;
  top:214px;
  width:20px;
  height:22px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:268px;
  width:100px;
  height:16px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2645_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:1599px;
  top:268px;
  width:100px;
  height:16px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2647_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:384px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u2649_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u2649_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:125px;
  height:8px;
}
#u2649_seg2 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-29px;
  width:8px;
  height:33px;
}
#u2649_seg3 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-29px;
  width:57px;
  height:8px;
}
#u2649_seg4 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-35px;
  width:20px;
  height:20px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:1147px;
  top:372px;
  width:43px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
