body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1785 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:424px;
  width:1108px;
  height:145px;
}
#u1786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u1788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:41px;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:116px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:41px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u1792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u1794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:41px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:41px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:0px;
  width:277px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:273px;
  word-wrap:break-word;
}
#u1798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:41px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:252px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u1800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:145px;
  height:46px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:47px;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:40px;
  width:116px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:112px;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:40px;
  width:109px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:105px;
  word-wrap:break-word;
}
#u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:47px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:40px;
  width:102px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:47px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:40px;
  width:102px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:40px;
  width:277px;
  height:46px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:273px;
  word-wrap:break-word;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:47px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:40px;
  width:252px;
  height:46px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:248px;
  word-wrap:break-word;
}
#u1814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:55px;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:145px;
  height:54px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:55px;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:86px;
  width:116px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:112px;
  word-wrap:break-word;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:55px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:86px;
  width:109px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:105px;
  word-wrap:break-word;
}
#u1820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:55px;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:86px;
  width:102px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:55px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:86px;
  width:102px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:55px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:86px;
  width:277px;
  height:54px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:273px;
  word-wrap:break-word;
}
#u1826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:55px;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:86px;
  width:252px;
  height:54px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:248px;
  word-wrap:break-word;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:255px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:269px;
  width:381px;
  height:254px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:284px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:58px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:255px;
  width:29px;
  height:57px;
  font-size:48px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:21px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:328px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:363px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:660px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:201px;
  height:660px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:81px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:0px;
  width:1165px;
  height:81px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:34px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:699px;
  width:1366px;
  height:34px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:38px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:83px;
  width:1167px;
  height:37px;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:657px;
  width:51px;
  height:16px;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:45px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:638px;
  width:108px;
  height:44px;
  font-size:16px;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:128px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:26px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:139px;
  width:35px;
  height:25px;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:46px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:1189px;
  top:332px;
  width:115px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:479px;
  width:97px;
  height:16px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:527px;
  width:97px;
  height:16px;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:477px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1861_ann {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:473px;
  width:1px;
  height:1px;
}
#u1862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:51px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:564px;
  width:1077px;
  height:50px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1073px;
  word-wrap:break-word;
}
#u1864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:575px;
  width:44px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u1866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:578px;
  width:20px;
  height:20px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:435px;
  width:97px;
  height:16px;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:76px;
  width:1161px;
  height:527px;
  overflow:hidden;
  visibility:hidden;
}
#u1870_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1161px;
  height:527px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1870_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:530px;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:529px;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:1158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:409px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:63px;
  width:524px;
  height:408px;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:196px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:17px;
  width:15px;
  height:17px;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:349px;
  width:120px;
  height:34px;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:35px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:349px;
  width:122px;
  height:34px;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u1881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:105px;
  width:121px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:158px;
  width:100px;
  height:16px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1883_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:206px;
  width:100px;
  height:16px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1885_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:258px;
  width:169px;
  height:16px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u1887_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:245px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:194px;
  width:423px;
  height:244px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:209px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:244px;
  width:337px;
  height:109px;
}
#u1894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:378px;
  width:140px;
  height:40px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:378px;
  width:140px;
  height:40px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:194px;
  width:20px;
  height:22px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:1247px;
  top:525px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1901_ann {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:521px;
  width:1px;
  height:1px;
}
#u1902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:48px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u1902_ann {
  border-width:0px;
  position:absolute;
  left:856px;
  top:118px;
  width:1px;
  height:1px;
}
#u1904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:314px;
  width:32px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:207px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:284px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:282px;
  width:181px;
  height:32px;
}
#u1910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1910_input:disabled {
  color:grayText;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:282px;
  width:193px;
  height:32px;
}
#u1911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1911_input:disabled {
  color:grayText;
}
#u1912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:207px;
  width:73px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:202px;
  width:193px;
  height:32px;
}
#u1914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1914_input:disabled {
  color:grayText;
}
#u1915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:30px;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:204px;
  width:176px;
  height:29px;
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:288px;
  width:37px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
